{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 120,
    "arrowParens": "always",
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}
